<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{{ url_for('static', filename='scripts/newUser.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
</head>
<body>
            <div class="form-style-8">
            <form id="registerForm" onsubmit="return validateForm()" action="/createAdmin" method="POST">
              <label class="reg-lbl" for="uid">User ID</label><br>
              <input class="reg-inp" type="text" id="uid" name="uid"><br><br>
              <input id="create" type="submit" value="Submit">
            </form>
            </div>
</body>
</html>