<!DOCTYPE html>
<html lang="en">
<head>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/stylingNAV.css') }}"></head>
<body>
<div>
    <div class="nav-bod">
        <a class="nav-item" href="/prods"><li class="text-list">PRODUCTS</li></a>
        <a class="nav-item" href="/basket"><li class="text-list">BASKET</li></a>
        <a class="nav-item" href="/order"><li class="text-list">ORDERS</li></a>
        <a class="nav-item" href="/modal"><li class="text-list">Admin</li></a>

    </div>

</div>
</body>
</body>
</html>