<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>THE ONLY PAGE</title>

    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/headingStyling.css') }}">
    <script src="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.5.0/firebase-ui-auth.css">
</head>
<body>

<div class="heading">
    <h1>WAGWAN</h1>
    {% include 'comps/logOut.html' %}
</div>



    {% include 'comps/compNAV.html' %}


    {% include 'comps/config.html'%}

        <div>
    {% extends "comps/sqrArea.html" %}
        {% block content %}
        {% for item in products %}
        <a href="item"><div class="sqr-contents" id="prod-item"><p>{{item}}</p></div></a>
        {% endfor %}

        {% endblock %}
    </div>

</body>
</html>